<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Políticas del Voluntario</title>
    <link rel="stylesheet" href="css/politicasVol.css">
</head>
<body>

    <div class="politicas">
        <h1>Políticas del Voluntario</h1>
        <p>Bienvenido a nuestro programa de voluntariado. A continuación, se presentan las políticas que todos los voluntarios deben conocer y seguir durante su participación.</p>

        <h2>1. Compromiso y Responsabilidad</h2>
        <p>Los voluntarios deben comprometerse a cumplir con las horas acordadas y las responsabilidades asignadas. La puntualidad y el cumplimiento de las tareas son esenciales para el éxito de nuestros programas.</p>

        <h2>2. Respeto y Diversidad</h2>
        <p>Valoramos y respetamos la diversidad en nuestro equipo. Todos los voluntarios deben tratar a los demás con dignidad y respeto, sin importar su origen, género, religión o cualquier otra característica personal.</p>

        <h2>3. Confidencialidad</h2>
        <p>Los voluntarios deben mantener la confidencialidad de la información sensible y privada relacionada con las personas a las que servimos, así como con otros voluntarios y miembros del equipo.</p>

        <h2>4. Capacitación y Desarrollo</h2>
        <p>Se espera que todos los voluntarios participen en las sesiones de capacitación y desarrollo que se ofrezcan, para asegurarse de que estén bien preparados para sus roles y responsabilidades.</p>

        <h2>5. Reporte de Incidentes</h2>
        <p>Cualquier incidente, problema o preocupación que surja durante el voluntariado debe ser reportado de inmediato a un supervisor o coordinador del programa. La comunicación abierta es fundamental para resolver problemas de manera efectiva.</p>

        <h2>6. Uso de Recursos</h2>
        <p>Los voluntarios deben hacer un uso responsable y cuidadoso de todos los recursos proporcionados por la organización, incluidos materiales, equipos y espacio de trabajo.</p>

        <h2>7. Cumplimiento de Normativas</h2>
        <p>Todos los voluntarios deben cumplir con las normativas y regulaciones de la organización, así como con las leyes locales y nacionales pertinentes durante su participación.</p>

        <p>Al participar como voluntario, aceptas cumplir con estas políticas y contribuir al bienestar de nuestra comunidad. ¡Gracias por tu dedicación y apoyo!</p>
    </div>

</body>
</html>
