<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Donativo</title>
    <link rel="stylesheet" href="css/regisDona.css">
</head>
<body>
    <div class="registro-donativo">
        <h2>Registro de Donativo</h2>
        <form action="/registrar_donativo" method="POST" class="formulario-donativo">
            <label for="ci">CI del Donante:</label>
            <input type="text" id="ci" name="ci" required placeholder="Ingrese el CI del donante">
            <label for="idProy">ID del Proyecto:</label>
            <input type="text" id="idProy" name="idProy" required placeholder="Ingrese el ID del proyecto">
            <label for="monto">Monto Donado:</label>
            <input type="number" id="monto" name="monto" required placeholder="Ingrese el monto" step="0.01" min="0">
            <button type="submit" class="btn-registrar">Registrar Donativo</button>
        </form>
    </div>

</body>
</html>
