<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Sancionados</title>
    <link rel="stylesheet" href="css/sancionado.css">
</head>

<body>

    <div class="tabla-sancionados">
        <h2>Lista de Sancionados</h2>

        <table>
            <thead>
                <tr>
                    <th>CI</th>
                    <th>Cláusula</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12345678</td>
                    <td>001</td>
                </tr>
                <tr>
                    <td>87654321</td>
                    <td>002</td>
                </tr>
                <tr>
                    <td>11223344</td>
                    <td>003</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>