<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Formulario de Contacto</title>
  <link rel="stylesheet" media="all" href="style.css" />
</head>
<body>
<form class="form">
  <h2>Registro General</h2>
  <p type="Escribe tu Ci:"><input type="number" placeholder="Ci "></input></p>
  <p type="Escribe tu Nombre:"><input placeholder="Nombre"></input></p>
  <p type="Escribe tu apellido Paterno:"><input placeholder="Paterno"></input></p>
  <p type="Escribe tu apellido Materno:"><input placeholder="Materno"></input></p>
  <p type="Introduce tu fecha de nacimiento :"><input type="date" placeholder="Materno"></input></p>
  <button class="boton">Registrar</button>
  <div class="referencias">
    <span class="fa fa-phone"></span>11111111111111111
    <span class="fa fa-envelope-o"></span> sabedeninios@save.com
  </div>
</form>
</body>
</html>
