<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styletablas.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
  
        <div class="table">
          
          <div class="row header">
            <div class="cell">
              Nombre
            </div>
            <div class="cell">
              Edad
            </div>
            <div class="cell">
              Cargo
            </div>
            <div class="cell">
              CI
            </div>
            <div class="cell">
                Acciones
              </div>
          </div>
          
          <div class="row">
            <div class="cell" data-title="Name">
              Aaron
            </div>
            <div class="cell" data-title="Age">
              33
            </div>
            <div class="cell" data-title="Occupation">
              Depredador de menores
            </div>
            <div class="cell" data-title="Location">
              321594396
            </div>
            <div class="cell" data-title="Acciones">
                <button class="boton">Editar</button>
                <button class="boton">Eliminar</button>
              </div>

          </div>
          
        </div>
        
      </div>
</body>
</html>