<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Editar Convocatoria</title>
  <link rel="stylesheet" media="all" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<form class="form" method="POST">
  <h2>Editar Registro de Convocatoria</h2>
  <p>ID Convocatoria: <input name="idConvoc" type="text" value="{{ convocatoria[0] }}" readonly></p>
  <p>Nombre: <input name="nombre" type="text" value="{{ convocatoria[1] }}" required></p>
  <p>Descripción: <input name="descripcion" type="text" value="{{ convocatoria[2] }}" required></p>
  <button class="boton">Guardar Cambios</button>
</form>
</body>
</html>
