<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Editar Empleado</title>
  <link rel="stylesheet" media="all" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<form class="form" method="POST">
  <h2>Editar Registro de Empleado</h2>
  <p>C.I. Empleado: <input name="ciEmpleado" type="text" value="{{ empleado[0] }}" readonly></p>
  <p>Ocupación: <input name="ocupacion" type="text" value="{{ empleado[1] }}" required></p>
  <p>Correo Electrónico: <input name="correoElec" type="email" value="{{ empleado[2] }}" required></p>
  <p>Sueldo: <input name="sueldo" type="number" step="0.01" value="{{ empleado[3] }}" required></p>
  <button class="boton">Guardar Cambios</button>
</form>
</body>
</html>
