<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Editar Encargado</title>
  <link rel="stylesheet" media="all" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<form class="form" method="POST">
  <h2>Editar Registro de Encargado</h2>
  <p>C.I. Encargado: <input name="ciEncargado" type="text" value="{{ encargado[0] }}" readonly></p>
  <button class="boton">Guardar Cambios</button>
</form>
</body>
</html>
