<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Editar Persona</title>
  <link rel="stylesheet" media="all" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<form class="form" method="POST">
  <h2>Editar Registro de Persona</h2>
  <p>CI: <input name="ci" type="text" value="{{ persona[0] }}" readonly></p>
  <p>Nombre: <input name="nombre" type="text" value="{{ persona[1] }}" required></p>
  <p>Paterno: <input name="paterno" type="text" value="{{ persona[2] }}" required></p>
  <p>Materno: <input name="materno" type="text" value="{{ persona[3] }}" required></p>
  <p>Fecha de Nacimiento: <input name="fecNac" type="date" value="{{ persona[4] }}" required></p>
  <p>Número de Contacto: <input name="numeroContacto" type="text" value="{{ persona[5] }}" required></p>
  <p>Ubicación: <input name="ubicacion" type="text" value="{{ persona[6] }}" required></p>
  <button class="boton">Guardar Cambios</button>
</form>
</body>
</html>
