<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Editar Especialista</title>
  <link rel="stylesheet" media="all" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<form class="form" method="POST">
  <h2>Editar Registro de Especialista</h2>
  <p>C.I. Especialista: <input name="ciEspecialista" type="text" value="{{ especialista[0] }}" readonly></p>
  <p>Especialidad: <input name="especialidad" type="text" value="{{ especialista[1] }}" required></p>
  <button class="boton">Guardar Cambios</button>
</form>
</body>
</html>
