<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Editar Voluntario</title>
  <link rel="stylesheet" media="all" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<form class="form" method="POST">
  <h2>Editar Registro de Voluntario</h2>
  <p>C.I. Voluntario: <input name="ciVolunt" type="text" value="{{ voluntario[0] }}" readonly></p>
  <p>Capacitación: <input name="capacitacion" type="text" value="{{ voluntario[1] }}" required></p>
  <p>Correo Electrónico: <input name="correoElec" type="email" value="{{ voluntario[2] }}" required></p>
  <button class="boton">Guardar Cambios</button>
</form>
</body>
</html>
