<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registro de Institución</title>
  <link rel="stylesheet" media="all" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<form class="form" method="POST">
  <h2>Registro de Institución</h2>
  <p>NIT: <input name="nit" type="text" required></p>
  <p>Nombre: <input name="nombre" type="text" required></p>
  <p>Descripción: <input name="descripcion" type="text" required></p>
  <button class="boton">Registrar</button>
</form>
</body>
</html>
