<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registro de Programa</title>
  <link rel="stylesheet" media="all" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<form class="form" method="POST">
  <h2>Registro de Programa</h2>
  <p>ID Programa: <input name="idPrograma" type="text" required></p>
  <p>ID Proyecto: <input name="idProyecto" type="text" required></p>
  <button class="boton">Registrar</button>
</form>
</body>
</html>
