<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registro de Administrador</title>
  <link rel="stylesheet" media="all" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<form class="form" method="POST">
  <h2>Registro de Administrador</h2>
  <p>C.I. Administrador: <input name="ciAdmin" type="text" required></p>
  <p>Sueldo: <input name="sueldo" type="number" step="0.01" required></p>
  <button class="boton">Registrar</button>
</form>
</body>
</html>
